<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
  <title>Kevin Cleathero</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>

<body>

  <% include partials/_header %>

  <main>
    <div class="container">

      <h2>Projects</h2>

     <div class="project-divider"></div>

        <div class="col s12 m7">
          <h3 class="header">xkcd - App submitted to app store</h3>
          <div class="card horizontal">
            <div class="card-image">
              <img src="images/xkcd.png">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>View and share xkcd comics!

Basically the same functionality and layout as
the xkcd website but packaged in a more
convenient format.

App fetches single comic at a time.

Supports pinch gesture and double tap for zooming.

Supports portrait and landscape modes

Supports scrolling for oversized images

Supports sharing a favorite comic with friends via
social media apps (if they are installed on your device)
email etc...
</p>
              </div>
              <div class="card-action">
                <a href="https://github.com/kengc/xkcd-ViewAndShare">Link to project</a>
              </div>
            </div>
          </div>
        </div>


        <div class="divider project-divider"></div>

        <div class="col s12 m7">
          <h3 class="header">Final Project - TravelJournal</h3>
          <div class="card horizontal">
            <div class="card-image">
              <img src="images/travel.png">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>Final project from a team of 3 people. An app that captures travel stories which allows users to upload text, images and location to share with other people. Firebase was used for signup/login as well as saving data and images.</p>
              </div>
              <div class="card-action">
                <a href="https://github.com/kengc/TravelJournal">Link to project</a>
              </div>
            </div>
          </div>
        </div>

      <div class="project-divider"></div>

        <div class="col s12 m7">
          <h3 class="header">Midterm Project - EventBright</h3>
          <div class="card horizontal">
            <div class="card-image">
              <img src="images/event.png">
            </div>
            <div class="card-stacked">
              <div class="card-content">
                <p>Mid term project that utilizes an API provided by Eventbright. This app prompts the user for search criteria (category, start date etc) for events happening in their city, or any other city in North America, and displays the results to a map with pin/annotations. Tapping the annotation will show an Eventbright page for more details about the event.</p>
              </div>
              <div class="card-action">
                <a href="https://github.com/kengc/EventBright">Link to project</a>
              </div>
            </div>
          </div>
        </div>


        <div class="divider project-divider"></div>


    </div> <!-- Container -->

  </main>

  <footer class="page-footer blue-grey lighten-5 black-text">
    <div class="container">
      <article class="row">

        <section class="col s6">
          <h5 class="black-text">Links</h5>
          <ul>
            <li><a class="grey-text text-darken-3" href="https://github.com/kengc">Github</a></li>
            <li><a class="grey-text text-darken-3" href="https://soundcloud.com/analogassailant">Soundcloud</a></li>
            <li><a class="grey-text text-darken-3" href="https://www.youtube.com/user/AnalogAssailant">Youtube</a></li>
          <!--  <li><a class="grey-text text-darken-3" href="#!">Linkedin</a></li> -->
            <li><a class="grey-text text-darken-3" href="#!">Resume</a></li>
          </ul>
        </section>

        <section class="col s6">
          <p class="grey-text text-darken-4">"There is no such thing as a pure introvert or extrovert. Such a person would be in the lunatic asylum." - Carl Jung</p>
        </section>

      </article>
    </div>
    <div class="footer-copyright">
      <div class="container grey-text text-darken-4 ">
        © 2017 Copyright Kevin Cleathero
      </div>
    </div>
  </footer>

  <!--  Scripts-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>
</body>

</html>